.section-1 {
  width: 100%;
  padding-top: 12px;
}
.section-1 > input {
  width: 100%;
  padding: 8px 12px;
  border: 2px solid #aeaeae80;
  outline: none;
  background-color: #181818;
  border-radius: 10px;
  color: #fff;
}
.section-2 {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}
.section-2 > .cancel {
  width: 6rem;
  background: transparent;
  color: #4b6cc2;
  border: none;
  font-weight: 600;
  font-size: 14px;
}
.section-2 > .add {
  width: 6rem;
  background: #4b6cc2;
  color: #fff;
  border: none;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  padding: 6px 0;
}
