.market-section {
  position: relative;
  height: 90vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
  font-size: 20px;
  color: rgb(75, 108, 194);
  margin-bottom: 80px;
  margin-top: 2px;
}
.desktop-user-info-row {
  background-color: #282828;
  width: 100%;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 22px;
  box-sizing: border-box;
  grid-template-columns: 0.8fr 4fr 1.5fr 0.3fr;
  gap: 8px;
}
.mob-user-info-row {
  display: none;
}
.mob-user-info-row > .image-section {
  position: relative;
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
  /* flex-shrink: 0; */
}
.user-image {
  width: 95%;
  height: 95%;
  object-fit: cover;
}
.title-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.title-section-text {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  color: #fff;
}
.title-section-details {
  width: 100%;
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 18px;
  color: rgb(75, 108, 194);
}
.title-section-details > .column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title-images {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  gap: -22px;
  color: rgb(38, 39, 44);
}
.image-block {
  position: relative;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}
.blue-disc {
  position: relative;
  border-radius: 50%;
  background-color: rgb(75, 108, 194);
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
  margin-left: -22px;
}
.graph-container {
  background-color: rgb(24, 24, 24);
  width: 100%;
  height: 50vh;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 37px;
  font-size: 18px;
  color: #c2964b;
}

@media (max-width: 768px) {
  .desktop-user-info-row {
    display: none;
  }
  .mob-user-info-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px;
    background-color: #282828;
  }
  .mob-user-info-row > .info-section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
    color: #fff;
    gap: 12px;
  }
  .mob-user-info-row > .info-section-1 > .text-section {
    display: flex;
    flex-direction: column;
    width: 75%;
  }
  .info-section-1 > .text-section > .text {
    font-weight: 600;
    font-size: 16px;
  }
  .mob-user-info-row > .info-section-1 > .image-section {
    width: 25%;
    display: flex;
    justify-content: flex-end;
  }
  .info-section-1 > .image-section > img {
    width: 100%;
    max-width: 80px;
    height: 100%;
    border-radius: 12px;
  }
  .info-section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 12px;
  }
  .images-block {
    display: flex;
  }
  .image-block {
    width: 3rem;
    height: 3rem;
  }
  .yellow-disc {
    width: 3rem;
    height: 3rem;
    background-color: #c2964b;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    margin-left: -22px;
  }
  .graph-container {
    height: 30vh;
  }
}
