.custom-container {
  width: 100%;
  position: relative;
  height: 90vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
  font-size: 20px;
  color: #4b6cc2;
  margin-bottom: 80px;
  overscroll-behavior: none;
}
.custom-header {
  background-color: #282828;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 22px;
  box-sizing: border-box;
  gap: 16px;
  font-size: 22px;
  color: #4b6cc2;
  display: grid;
  grid-template-columns: 0.5fr 5fr 1fr;
}
.mob-custom-header {
  display: none;
}

.custom-box {
  position: relative;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1/1;
  flex-shrink: 0;
}
.custom-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.custom-Sub-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
}
.custom-element {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.person-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  width: 100%;
}
.person-details > .column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.person-details > .column-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}

.desktop-profile-active {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

/* Graph section starts  */
.profile-graph-section {
  display: grid;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  grid-template-columns: 1.8fr 1fr;
}
.profile-graph-section > .bar-graph-section {
  display: flex;
  background-color: rgb(40, 40, 40);
  width: 100%;
  flex-direction: column;
  color: rgb(255, 255, 255);
  height: 100%;
  overflow: hidden;
}
.profile-graph-section > .bar-graph-section > .bar-header {
  width: 100%;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-sizing: border-box;
  grid-template-columns: 1.5fr 3fr;
  gap: 6px;
}
.bar-graph-section > .bar-header > .sub-part-2 {
  border-radius: 4px;
  overflow: hidden;
  flex-shrink: 0;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
}
.profile-graph-section > .bar-graph-section > .bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 16px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
}
.profile-graph-section > .donught-graph-section {
  background-color: rgb(40, 40, 40);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  box-sizing: border-box;
  gap: 16px;
  font-weight: 400;
  height: 100%;
}
.profile-graph-section > .donught-graph-section > .donught-header {
  width: 100%;
  padding: 12px;
}
.profile-graph-section > .donught-graph-section > .donught {
  display: flex;
  width: 100%;
  height: max-content;
  justify-content: center;
}
/* Graph section ends  */

/* prediction-section starts  */
.profile-prediction-section {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
  color: rgb(75, 108, 194);
}
.profile-prediction-header {
  background-color: rgb(40, 40, 40);
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 25px;
  box-sizing: border-box;
  font-size: 24px;
  color: rgb(255, 255, 255);
  grid-template-columns: 1fr 1fr;
}
.profile-prediction-header > .prediction-search {
  width: 100%;
  justify-content: flex-end;
  display: flex;
}
.profile-prediction-subHeader {
  background-color: rgb(40, 40, 40);
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 22px;
  box-sizing: border-box;
  gap: 16px;
  grid-template-columns: 0.8fr 1.2fr 0.8fr 2.5fr 1.2fr 1fr;
}
.profile-prediction-subHeader > .column {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  font-size: 22px;
  color: rgb(75, 108, 194);
}
.profile-prediction-data {
  background-color: rgb(40, 40, 40);
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  padding: 7px 22px;
  box-sizing: border-box;
  gap: 16px;
  grid-template-columns: 0.8fr 1.2fr 0.8fr 2.5fr 1.2fr 1fr;
  height: auto;
}
.profile-prediction-data > .column-1 {
  width: 100%;
  min-height: 52px;
  max-height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.profile-prediction-data > .column-1 > .sub-column-1 {
  font-weight: 500;
  font-size: 13px;
}
.profile-prediction-data > .column-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  font-size: 14px;
  color: #fff;
}
/* prediction-section ends  */
.mobile-profile-active {
  display: none;
}
@media (max-width: 1024px) {
  .profile-graph-section > .bar-graph-section > .bar-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px;
    flex-direction: column;
    box-sizing: border-box;
    gap: 6px;
  }
}
@media (max-width: 768px) {
  .custom-header {
    display: none;
  }
  .mob-custom-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 16px;
    background-color: #282828;
  }
  .mob-custom-header > .header {
    width: 100%;
    padding: 0px;
    height: fit-content;
    display: flex;
    color: #fff;
    font-family: inter;
    justify-content: space-between;
  }
  .mob-custom-header > .header > .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
  }
  .mob-custom-header > .header > .profile > img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: fill;
    padding: 0.3rem;
    border: 2px solid #4b6cc2;
  }
  .mob-custom-header > .header > .profile > .profile-column {
    display: flex;
    flex-direction: column;
  }
  .mob-custom-header > .header > .mob-icon {
    display: flex;
    align-items: end;
  }
  .mob-custom-header > .body {
    display: grid;
    width: 100%;
    font-size: 12px;
    padding-top: 8px;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  .mob-custom-header > .body > .column {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #fff;
  }
  .mob-custom-header > .footer {
    width: 100%;
    display: flex;
    font-size: 14px;
    gap: 12px;
    padding-top: 12px;
  }
  .desktop-profile-active {
    display: none;
  }
  .mobile-profile-active {
    display: flex;
    width: 100%;
    padding: 12px;
  }
  .profile-graph-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
  }
  .profile-graph-section > .bar-graph-section,
  .profile-graph-section > .donught-graph-section {
    display: flex;
    background-color: transparent;
    width: 100%;
    flex-direction: column;
    color: rgb(255, 255, 255);
    max-height: 70%;
    overflow: hidden;
  }
  .profile-graph-section > .bar-graph-section > .bar-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px;
    box-sizing: border-box;
    grid-template-columns: 2fr 3fr;
    gap: 6px;
  }
  .profile-graph-section > .bar-graph-section > .bar-header > .sub-part-2 {
    gap: 0px;
  }
  .profile-graph-section > .donught-graph-section > .donught {
    display: flex;
    width: 80%;
    height: max-content;
    justify-content: center;
  }
  .mob-prediction-tab {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;
    border-bottom: 4px solid #181818;
    gap: 12px;
    font-family: inter;
  }
  .mob-prediction-tab > .mob-prediction-tab-header {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
  }
  .mob-prediction-tab > .mob-prediction-tab-header > span {
    color: #aeaeae;
  }
  .mob-prediction-tab > .mob-prediction-tab-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 16px;
    color: #fff;
    gap: 12px;
  }
  .mob-prediction-tab > .mob-prediction-tab-content > .column {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }
  .mob-prediction-tab-content > .column > .sub-column {
    display: flex;
    flex-direction: column;
  }

  .mob-prediction-tab-content > .column > .sub-column > span {
    color: #aeaeae;
  }
  .mob-prediction-tab-footer {
    display: flex;
    flex-direction: column;
    font-size: 16px;
  }
  .mob-prediction-tab-footer > span {
    color: #fff;
  }
}
