.share-modal-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  padding-top: 32px;
  font-family: Inter;
}
.share-modal-content > :nth-child(3n + 1) {
  justify-self: start;
}

.share-modal-content > :nth-child(3n) {
  justify-self: end;
}
.icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: white;
  font-weight: 400;
}
.icon-container {
  padding: 10px;
  border-radius: 50%;
  background-color: #4b6cc2;
  width: fit-content;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.icon-container:hover {
  background-color: #3a4f8f;
  transform: scale3d(1.05, 1.05, 1.05);
}
.icon {
  color: white;
  font-size: 32px;
}
.share-modal-footer {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-weight: 500;
}
.share-link-section {
  padding: 5px 5px 5px 10px;
  border: 1px solid white;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}
.share-link-section > input {
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
  width: 70%;
}
