.summaries {
  position: relative;
  height: 90vh;
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
  font-size: 14px;
  padding-top: 2px;
}
.summaries > .summaries-col {
  background-color: #282828;
  gap: 2px;
  height: max-content;
  overflow: hidden;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 7px 22px;
  box-sizing: border-box;
  width: 100%;
}
/* Column 1 Starts */
.summaries-col-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.summaries-col-1 > img {
  position: relative;
  left: 0;
  width: 27px;
  height: 18px;
  padding-right: 12px;
}
.summaries-col-1 > .sub-col-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.summaries-col-1 > .sub-col-1 > .sub-col-text-1 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: #4b6cc2;
}
.summaries-col-1 > .sub-col-1 > .sub-col-text-2 {
  position: relative;
  color: "#aeaeae";
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
/* Column 2 Starts */
.summaries-col-2 {
  position: relative;
  color: #fff;
}
.summaries-col-2 > .sub-col-2 {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.summaries-col-2 > .sub-col-2 > .sub-col-text-1 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.summaries-col-2 > .sub-col-2 > .sub-col-text-2 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: #4b6cc2;
}
/* Column 3 Starts */
.summaries-col-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #aeaeae;
}
.summaries-col-3 > .sub-col-text-1 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.summaries-col-3 > .sub-col-text-2 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: #4b6cc2;
}
/* Column 4 Starts */
.summaries-col-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 9px;
  cursor: pointer;
  padding: 6px;
}
.summaries-col-4 > .sub-col-text-1 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.summaries-col-4 > img {
  position: relative;
}
/* Column 5 Starts */
.summaries-col-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 9px;
  cursor: pointer;
  padding: 6px;
}
.summaries-col-5 > .sub-col-text-1 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.summaries-col-5 > img {
  position: relative;
}
/* Column 6 Starts */
.summaries-col-6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 9px;
  cursor: pointer;
  padding: 6px;
}
.summaries-col-6 > .sub-col-text-1 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.summaries-col-6 > img {
  position: relative;
}
/* Column 7 Starts */
.summaries-col-7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 9px;
  cursor: pointer;
  padding: 6px;
}
.summaries-col-7 > .sub-col-text-1 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.summaries-col-7 > img {
  position: relative;
}
/* People Section Starts */
.people-section {
  display: grid;
  width: 100%;
  background-color: #181818;
  flex-direction: row;
  align-items: center;
  padding: 0 12px;
  box-sizing: border-box;
  gap: 10px;
  font-size: 24px;
  color: #4b6cc2;
  grid-template-columns: 2fr 4fr 1fr;
}
.ps-col-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.ps-col-1 > img {
  width: 65px;
  height: 65px;
  object-fit: cover;
}
.ps-col-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  justify-content: center;
}
.ps-col-2 > .sub-col-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.ps-col-2 > .sub-col-2 > .sub-col-text-1 {
  position: relative;
  font-weight: 400;
  align-items: center;
  flex-shrink: 0;
  font-size: 16px;
}
.ps-col-2 > .sub-col-2 > .sub-col-text-2 {
  position: relative;
  font-size: 12px;
  align-items: center;
  flex-shrink: 0;
  color: #aeaeae;
}
/* People section ends */
/* Active Summaries Section starts */
.active-summaries-section {
  background-color: #181818;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-self: flex-start;
  padding: 18px 22px;
  gap: 22px;
  font-size: 16px;
}
.active-summaries-section > .as-col-1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 4px;
  overflow-y: auto;
}
.as-col-1 > .as-col-1-row {
  display: grid;
  flex-direction: row;
  align-items: center;
  grid-template-columns: 16fr 1fr;
  padding: 8px 22px 8px 0;
}
.as-col-1-row-inner {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: 16px;
  font-family: inter;
  padding-right: 20px;
}
.as-col-2 {
  position: relative;
  border-radius: 14px;
  background-color: #141c23;
  overflow: hidden;
  flex-shrink: 0;
  width: 40%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
/* Active Summaries Section ends */
/* Active Predictions Section starts */
.active-predictions-section {
  background-color: #181818;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-self: flex-start;
  padding: 18px 22px;
  gap: 16px;
  font-size: 16px;
}
.active-predictions-section > .ap-col-1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 4px;
  height: 100%;
  overflow-y: auto;
}
.ap-col-1 > .ap-col-1-row {
  display: grid;
  flex-direction: row;
  align-items: center;
  grid-template-columns: 16fr 1fr;
  padding: 8px 22px 8px 0;
  gap: 6px;
}
.active-predictions-section > .ap-col-2 {
  position: relative;
  border-radius: 14px;
  background-color: #141c23;
  overflow: hidden;
  flex-shrink: 0;
  width: 40%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.summaries > .mob-summaries-col {
  display: none;
}
.mob-active-col {
  display: none;
}
.active-transcript-section {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  box-sizing: border-box;
  gap: 20px;
  color: #4b6cc2;
}

/* Active Predictions Section ends */

@media (max-width: 768px) {
  .active-predictions-section {
    display: none;
  }
  .active-summaries-section {
    display: none;
  }
  .people-section {
    display: none;
  }
  .active-transcript-section {
    display: none;
  }
  .summaries > .summaries-col {
    display: none;
  }
  .summaries > .mob-summaries-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 12px;
    background-color: #282828;
  }
  .mob-summaries-col > .summaries-header {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    color: #4b6cc2;
  }
  .summaries-header > .summaries-header-content {
    display: flex;
    flex-direction: column;
    line-height: 10px;
  }
  .mob-summaries-col > .summaries-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
  }
  .summaries-body > .col {
    display: flex;
    flex-direction: column;
  }
  .summaries-body > .col > span {
    color: #aeaeae;
  }
  .mob-active-col {
    display: flex;
    width: 100%;
    padding-top: 12px;
  }
  .mob-summaries-active {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
  }
  .mob-summaries-active > .mob-summaries {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #282828;
    gap: 12px;
    padding: 16px 10px;
  }
  .mob-summaries > .as-col-1-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .mob-summaries > .mob-full-transcript {
    display: flex;
    flex-direction: column;
  }
  .mob-full-transcript {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 2px;
  }
  .mob-full-transcript > .head {
    background-color: #161616;
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
  }
  .mob-full-transcript > .body {
    padding: 8px;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #282828;
    gap: 8px;
  }
  .mob-predictions-active {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #282828;
  }
  .mob-predictions-active > .body {
    display: flex;
    width: 100%;
    padding: 8px;
    flex-direction: column;
  }

  .mob-predictions-active > .body > .ap-col-1-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .mob-people-active {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px;
  }
  .mob-people-active > .mob-people-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #282828;
    padding: 8px;
  }
  .mob-people-section > .ps-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .ps-header > .col-1 {
    display: flex;
    width: fit-content;
    gap: 8px;
    align-items: center;
  }
  .ps-header > .col-1 > .col-img {
    width: fit-content;
    height: fit-content;
    padding: 2px;
    border: 1px solid #9f9f9f;
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
  .ps-header > .col-1 > .col-content {
    line-height: 12px;
  }
  .ps-header > .col-2 {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    color: #4b6cc2;
  }
  .ps-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 12px 0;
  }
  .ps-body > .col {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
  }
  .ps-body > .col > .detail {
    line-height: 10px;
  }
  .ps-body > .col > .detail > h6 {
    color: #aeaeae;
  }
}
