.tp-card {
  padding: 16px;
  background-color: #262626;
  border-radius: 10px;
}
.tp-card-header {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}
.tp-card-header h4 {
  line-height: 1.2rem;
}
.tp-card-header h6 {
  color: #aeaeae;
  line-height: 1.2rem;
}
.tp-card-image {
  width: 100%;
  margin: 0 auto;
}
.tp-card-image > img {
  width: 100%;
}
.tp-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.tp-card-footer p {
  color: #aeaeae;
  font-size: 14px;
}
.tp-card-footer span {
  color: #fff;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.tp-card-footer-btn {
  background-color: #4b6cc2;
  border: none;
  border-radius: 25px;
  font-size: 12px;
  padding: 1rem 2rem;
  color: #fff;
}
@media (max-width: 768px) {
  .tp-card {
    width: 90%;
  }
  .tp-card {
    padding: 12px;
  }
  .tp-card-header h4 {
    font-size: 16px;
    line-height: 0.6rem;
  }
  .tp-card-header h6 {
    font-size: 14px;
    font-weight: 300;
  }
  .tp-card-footer-btn {
    border-radius: 25px;
    width: 8rem;
    font-size: 12px;
    padding: 10px 6px;
    color: #fff;
  }
}
