.topNav {
  display: flex;
  flex-direction: column;
  background-color: #262626;
  width: 100%;
}
.topNav-header {
  display: flex;
  padding: 16px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.topNav-header > .topNav-logo-div {
  display: flex;
  justify-content: center;
  width: calc(70% - 10px);
}
.header-icon {
  position: absolute;
  left: 16px;
}
.topNav-header > svg {
  width: 8%;
  height: 8%;
}
.topNav-links {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 16px;
}
.topNav-links::-webkit-scrollbar {
  display: none;
}
.topNav-links > .navlink {
  width: max-content;
  background-color: transparent;
  color: #4b6cc2;
  padding: 10px 26px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
}
.topNav-links :where(.active-link, .navlink) p {
  width: max-content;
  margin: 0 !important;
}
.topNav-links > .active-link {
  background-color: #4b6cc2;
  color: #fff;
}
@media (min-width: 765px) {
  .topNav-header > .topNav-logo-div {
    display: flex;
    justify-content: center;
    width: calc(70% - 200px);
  }
  .topNav-links > .navlink {
    padding: 12px 28px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
  }
}
