.trending-card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 6px;
  background-color: #262626;
}
.trending-card .trending-card-header {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.trending-card .trending-card-header p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.trending-card .trending-card-header span {
  color: #aeaeae;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.trending-card .trending-card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
}
